:root {
  --primary: #D34F73;
  --accent: white;
  --background: #DBBEA1;
}

body {
  background-color: var(--background);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
}

.card .image-banner {
  margin-bottom: 10px;
  margin-left: -10px;
  margin-top: -10px;
  height: 150px;
  width: calc(100% + 20px);
  background-position: center;
  background-size: cover;
}

.card .percent-off {
  font-size: 18px;
  padding: 3px 8px;
  background: var(--primary);
  border-radius: 5px;
  color: var(--accent);
  display: block;
  width: fit-content;
}

.card .initial-price {
  font-size: 10px;
  color: #D3D3D3;
  width: fit-content;
  text-decoration: line-through;
}

.card .sale-price {
  font-size: 14px;
  color: var(--primary);
  width: fit-content;
  padding-left: 5px;
  font-size: 400;
}

.card .label {
  color: #D3D3D3;
  font-weight: 300;
  font-size: 8px;
}

.card .developer {
  color: var(--primary);
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-br {
  align-items: flex-end;
  justify-content: flex-end;
}
.spc-btw {
  justify-content: space-between;
}