@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  --primary: #6E6870;
  --secondary: #354F52;
  --accent: #52796F;
  --background-primary: #ECE4F0;
  --background-secondary: #E0CAEB;

  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  text-align: center;
  background-color: var(--background-primary);
}

main > * {
  margin: auto;
}

h1 {
  color: var(--primary);
  padding: 30px 0 40px;
  font-size: 32pt;
  letter-spacing: 2px;
}

.container {
  padding: 50px;
  width: 320px;
  height: 320px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
.container > label {
  position: absolute;
  bottom: 10px;
  right: 13px;
}